doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Edit Produce
    link(rel="stylesheet" href="../css/bootstrap-5.3.3-dist/css/bootstrap.css")
    link(rel="stylesheet" href="../css/addproduce.css")
    link(rel='stylesheet' href='../css/signin.css')
  body
    .container.mt-5
      h2.text-top.mb-4 Edit Produce

      form(action=`/editproduce/${item._id}` method="POST")
        .mb-3
          label.form-label(for="quantity") Tonnage (kgs)
          input.form-control(type="number", name="quantity", id="quantity", value=item.quantity, required)

        .mb-3
          label.form-label(for="costprice") Cost Price
          input.form-control(type="number", name="costprice", id="costprice", value=item.costprice, required)

        .mb-3
          label.form-label(for="sellingprice") Selling Price
          input.form-control(type="number", name="sellingprice", id="sellingprice", value=item.sellingprice, required)

        .mb-3
          label.form-label(for="dealername") Dealer's Name
          input.form-control(type="text", name="dealername", id="dealername", value=item.dealername, required)

        .mb-3
          label.form-label(for="date") Date
          input.form-control(type="date", name="date", id="date", value=item.date.toISOString().split('T')[0], required)

        .mb-3
          label.form-label(for="time") Time
          input.form-control(type="time", name="time", id="time", value=item.date.toISOString().split('T')[1].slice(0,5), required)

        .mb-3
          label.form-label(for="typeproduce") Type of Produce
          input.form-control(type="text", name="typeproduce", id="typeproduce", value=item.typeproduce, required)
        
        .gender-details-box
            span.gender-title Branch
            .gender-category
              input#matugga(type='radio' name='branch' value=item.branch)
              label(for='Matugga') Matugga
              input#maganjo(type='radio' name='branch' value=item.branch)
              label(for='Maganjo') Maganjo

        button.btn.btn-primary(type="submit") Edit Produce
        a.btn.btn-secondary.ms-2(href="/viewingstock") Cancel
